@model TurneroMVC.Models.Cuenta

@{

    Layout = "~/Views/Shared/_NavBar.cshtml";
    ViewData["Title"] = "Details";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TurneroMVC</title>
    <link rel="stylesheet" href="\css\cuentaDetails.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <h1>Detalles</h1>
        <dl class="row">

            <dt class="titulo">
                @Html.DisplayNameFor(model => model.Email) 
            </dt>
            <dd class="info">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="titulo">
                @Html.DisplayNameFor(model => model.Contrasenia) 
            </dt>
            <dd class="info">
                @Html.DisplayFor(model => model.Contrasenia)
            </dd>
            <dt class="titulo">
                @Html.DisplayNameFor(model => model.CodVerif) 
            </dt>
            <dd class="info">
                @Html.DisplayFor(model => model.CodVerif)
            </dd>
            <dt class="titulo">
                @Html.DisplayNameFor(model => model.NombreCompleto) 
            </dt>
            <dd class="info">
                @Html.DisplayFor(model => model.NombreCompleto)
            </dd>
            <dt class="titulo">
                @Html.DisplayNameFor(model => model.Edad) 
            </dt>
            <dd class="info">
                @Html.DisplayFor(model => model.Edad)
            </dd>
            <dt class="titulo">
                @Html.DisplayNameFor(model => model.Dni) 
            </dt>
            <dd class="info">
                @Html.DisplayFor(model => model.Dni)
            </dd>
        </dl>
    </div>
      
    <div class="botones">
        <div class="volver">
            <a asp-action="Index">Volver</a>
        </div>

        <div class="edit">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        </div>
    </div>
    

</body>
