@model TurneroMVC.Models.Turno

@{
    Layout = "~/Views/Shared/_NavBar.cshtml";
    ViewData["Title"] = "Delete";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TurneroMVC</title>
    <link rel="stylesheet" href="\css\turnoDelete.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <h1>Eliminar Turno</h1>

    <div class="container">

        <dl class="row">
            <dt class="titulo">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="info">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="titulo">
                @Html.DisplayNameFor(model => model.DiaHora)
            </dt>
            <dd class="info">
                @Html.DisplayFor(model => model.DiaHora)
            </dd>
            <dt class="titulo">
                @Html.DisplayNameFor(model => model.Actividad)
            </dt>
            <dd class="info">
                @Html.DisplayFor(model => model.Actividad)
            </dd>
        </dl>

        <div class="seguro" style="color:red">
            <h3>¿Esta seguro que desea eliminar este turno?</h3>
        </div>

        <form class="botones" asp-action="Delete">
            <input type="hidden" asp-for="Id" />

            <div class="volver">
                <a asp-action="Index">Volver</a>
            </div>

            <input class="borrar_turno" type="submit" value="Delete" class="btn btn-danger" /> |

        </form>
    </div>

</body>
