@model TurneroMVC.Models.Turno

@{
    Layout = "_Layout";
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Turno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NroComprobante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NroComprobante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Actividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Actividad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Volver</a>
</div>
