@model IEnumerable<TurneroMVC.Models.Turno>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<h1>Mis Turnos</h1>

<p>
    <a asp-action="Create">Agendar un nuevo turno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuentaId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actividad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuentaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
